a{text-decoration: none;}
.box-X,.logo,.gps,.chest,h2,.chest2,p,.chest3,h4,h5,h6,body,ul,li,ol{margin:0;padding:0} 
li{list-style:none}
img{border:0;vertical-align: middle;} 

/*全局样式*/
.head{
	height: 70px;
	background: #c8251e;
	} 
.logo{
	width: 378px; 
	height: 70px;
	float:left;
	}
.logo img{
	margin: 9px 0 0 114px;
	}
.head .gps{ 
	 width: 750px; 
	 height: 70px;
	 float:left;
	 }
.head .gps li{
	 width: 95px; 
	 height: 70px;
	 border-left: 1px solid #d2625e;
	 float:left;
	 		}
.head .gps a{
	display:block;
	width:95px;
	color: #fff;
	text-align: center; 
	line-height: 70px;
	}
.head b{
	display: block;
	width:168px;
	height: 70px;
	float:left;
	line-height: 70px;
	color: #fff;
	} 
.head b img{
	margin: 24px 14px 0 20px;
	float: left;
	}
.head li:hover{
	background: #414141;
	} 
/*头部*//*头部*//*头部*//*头部*//*头部*//*头部*//*头部*//*头部*//*头部*//*头部*//*头部*//*头部*//*头部*//*头部*//*头部*/
.neck{
	height: 500px;
	background: url(../images/20160821133638_67592.jpg) no-repeat center ;
	position: relative;
	}
.neck img{
	display: block;
	width:47px;
	height:257px;
	float: right;
	margin-top: 180px;
	}
.neck .span1{
	display: block;
	font-size: 59px;
	color: #b5b1ae;
	float: right;
	margin-top: 190px;
	}
.neck .span2{
	display: block;
	font-size: 59px;
	color: #b5b1ae;
	float: left;
	margin: 190px 0 0 50px;
	}
.neck .span3{
	display: block;
	font-size: 39px;
	color: #b5b1ae;
	position: absolute;
	top:454px;
	left:690px;
	transform: rotate(-90deg);
	}
.span4{
	width: 60px;
	height: 4px;
	position: absolute;
	top: 404PX;
	left:670px ; }
.span4 .span4-1{width: 25px;height: 4px;background: #fff;float: left;}
.span4 .span4-2{width: 25px;height: 4px;background: #fff;float: right;}	 
/*脖子*//*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/	/*脖子*/		
.chest{
	height: 572px;
	background: #fff;
	}
.chest .h2-1{
	 font-size: 48px;
	 margin-top: 52px;
	 text-align: center;
	 }
.chest .h2-2{
	font-size: 48px;
	color: #e60002; 
	margin-top: 22px;
	text-align: center;
	}
.chest .qq{
	width: 50px;
	height: 3px;
	background: #afafaf;
	margin: 17px auto;
	line-through; 
	}
.chest p{
	width: 874px;
	height: 74px;
	font-size: 12px;
	line-height: 23px;
	text-align: center;
	margin: 17px auto;
	 }

.chest2{
	width: 1040px;
	height: 142px;
	margin: 55px auto;
	margin-left: 170px;
	}
.chest2 li{
	width: 142px;
	height: 142px; 
	float: left;
	margin:0 59px 0 59px;
	}
.chest2 li b{
	margin: 26px auto;
	margin-left: 23px;
	
	}
.chest2 .i1:hover{background:url(../images/20160818204917_80717.png);}	   
.chest2 .i2:hover{background:url(../images/20160818205259_15898.png);}		  
.chest2 .i3:hover{background:url(../images/20160818205339_75592.png);}
.chest2 .i4:hover{background:url(../images/20160818205411_74101.png);}

.chest3{
	width: 1263px;
	 height: 1110px;
	  background: #B5B1AE;
	  margin: 0 auto;
	  }
.chest3-1{
	width: 234px;
	height: 175px;
	 font-size: 30px;
	 margin: 0 auto;
	 text-align: center;
	 padding-top: 59px;
	 }
.chest3-1 .p1{color: #E60002;}
.chest3-2{
	width: 1263px;
	height: 866px;
	margin:0 auto;
	}
.chest3-2 li{
	width: 391px;
	height: 406px;
	background: #fff; 
	border-bottom: 1px solid #e7e7e7;
	margin:0 15px  0 14px; 
	float: left;
	position: relative;}
.chest3-2 li a{
	display: block; 
	width: 24px;
	height: 24px;
	position: absolute;
	right: 18px;
	bottom: 32px;
	}
.chest3-2 li h5{
	width: 162px;
	height: 17px; 
	font-size:16px ;
	margin:19px 0 15px 20px;
	}
.chest3-2 li h6{
	font-size:12px ;
	color: #9e989c;
	 margin-left:20px ;}
/*这是分这是分割线 这是分割线 这是分割线 这是分割线 这是分割线 这是分割线 这是分割线 这是分割线 这是分割线 这是分割线 割线*/
.fb{
	width: 1263px;
	height: 247px;
	background: #ce0000;
	margin: 0 auto;
	padding-top: 56px;
	}
.fb h4{
	width: 266px;
	height: 30px;
	font-size: 28px;
	color: #fff;
	margin: 0 auto;
	}
.fb span{
	display: block;
	 width: 50px;
	 height: 35px;
	 background:url(../images/未标题-7.png) #ce0000;
	  margin:38px auto;
	  }
.fb p{
	width: 141px;
	height: 44px;
	border: 2px solid #fff;
	background: #cd0000;
	margin: 34px auto;
	font-size: 10px;
	color: #fff;
	text-align: center;
	line-height: 44px;
}
/*冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝冯宝宝*/
.fbb{
	width: 1263px;
	height: 577px;
	background: #e4e4e4;
	margin: 0 auto;
	padding-top: 59px;
	}	  
.fbb h4{
	width: 85px;
	height: 22px;
	font-size:20px ;
	color: #838383;
	margin: 0 auto;
	}
.fbb h5{
	width: 120px;
	height: 30px;
	font-size:16px ;
	margin: 20px auto;
	text-align: center;
	line-height: 30px;
	}
.fbb .zcl{
	width: 114px;
	height: 3px;
	margin: 16px auto;
	}
.fbb .zcl p{
	width: 30px;
	height: 1px;
	background: #838383;
	float:left;
	margin-top: 1px;
	}
.fbb .zcl span{
	display: block; 
	width: 52px;
	height: 3px;
	background: #838383;
	float:left;
	}
.fbb .zcl h6{
	width: 32px;
	height: 1px;
	background: #838383;
	float: right;
	margin-top: 1px;
	}
.fbb ul{
	width:336px;
	height: 90px;
	margin: 0 auto;
	}
.fbb li{width: 65px;height: 15px;margin-right: 70px;float: left;line-height: 90px;}	
.fbb .li3{margin-right:0;}	
.fbb li:hover{color: #CD0000;}
