<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>读取Excel</title> 
   <script src="jquery-2.2.0.js"></script>
   <script src="xlsx.core.min.js"></script>
</head>
<body>
<br/>
<label for="excel-file" class="btn btn-success">导入Excel文件</label>
<input type="file" name="excel-file" id="excel-file"/>
<br>
<table id="context">
 
</table>
 
  <script>  
 $('#excel-file').change(function(e) {            
         try {
             new Uint8Array([1,2]).slice(0,2);
         } catch (e) {
             console.log("[Uint8Array"+e.description+"]这里使用【Array.slice】。");
             //IE或有些浏览器不支持Uint8Array.slice()方法。改成使用Array.slice()方法
             Uint8Array.prototype.slice = Array.prototype.slice;
         }
         var url=$('#excel-file').val();
         if(!url){return;}
         var suffix=url.substring(url.lastIndexOf(".")+1,url.length);
         if(!(suffix=="xls"||suffix=="xlsx")){
             return alert("文件类型不正确");
         }
   }
  </script>  
</body>
</html>
 